* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    font-size: 20px;
    background: url(../img/xxxx.gif);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 60px;
        color: #fff;
    }
    .audio{
        float: left;
    }
}

.currentTime {
    text-align: right;
    color: #fff;
    padding: 20px;
}

.content {
    padding: 50px 0px;
    display: flex;
    height: calc(100vh - 228.5px - 59px);
    width: 100%;
    justify-content: space-evenly;

    .left {
        width: 60%;

        >ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 20px;

            >li {
                width: 20%;
                text-align: center;
                padding: 20px;
                color: #fff;
                background: transparent;
                div{
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

    }

    .right {
        width: 40%;
        color: #fff;
        .top{
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            >span{
                font-size: 45px;
                font-weight: 700;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .bottom{
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                margin-right: 10px;
                padding: 10px 15px;
                outline: 0;
                background-color: #67c23a;
                border-radius: 30px;
                color: #fff;  
            }
        }
    }
    
}